daily-ai-briefing/Daily AI Briefing.json
{
  "name": "Daily AI Briefing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": "={{ 7 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        160
      ],
      "id": "32ea554a-e3a8-4b55-9c01-346d28735ba6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4af8c835-241f-4fa9-b397-147b5b7ca333",
              "name": "topic",
              "value": "Artificial Intelligence News",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        160
      ],
      "id": "a27c668d-aba4-41db-8b86-d4482441c0d9",
      "name": "Set"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $node[\"Set\"].json[\"topic\"] }}"
            },
            {
              "name": "language",
              "value": "en"
            },
            {
              "name": "sortBy",
              "value": "publishedAt"
            },
            {
              "name": "pageSize",
              "value": "10"
            },
            {
              "name": "from",
              "value": "={{ new Date(Date.now() - 24*60*60*1000).toISOString().split('T')[0] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        528,
        160
      ],
      "id": "e10a6b01-33e4-41aa-9ded-d6ec1e43175b",
      "name": "Fetch AI News",
      "credentials": {
        "httpHeaderAuth": {
          "id": "scTfZ7cYItIL7VS3",
          "name": "NewsAPI"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "articles",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        752,
        160
      ],
      "id": "5f354d4f-b003-4ddf-a0a8-486a46ba1c11",
      "name": "Split Articles"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1280,
        384
      ],
      "id": "d96b3e76-c92c-4ce5-82a6-474ad791205c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7gDOFzfenoAXxvSc",
          "name": "proj:workflow-A dhyan.work-n8n 1st"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "liomad999@gmail.com",
        "subject": "=📰 Your Daily AI Briefing – {{ new Date().toISOString().split('T')[0] }}",
        "message": "={{ $('Convert Markdown to HTML').first().json.data }}",
        "options": {
          "appendAttribution": false,
          "senderName": "From n8n by Dhyan Patel"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1808,
        160
      ],
      "id": "6c13d6ed-1059-4c7f-8f4c-985b5f8fef62",
      "name": "Send Gmail",
      "webhookId": "d1855542-9b30-461f-8200-52049bd289d6",
      "credentials": {
        "gmailOAuth2": {
          "id": "7D8cdgHxHwBIJZxi",
          "name": "Nyxel9999 OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{\n  chatInput: items.map(item => \n    `Title: ${item.json.title}\\nDescription: ${item.json.description}\\nSource: ${item.json.source.name} – ${item.json.publishedAt}\\nLink: ${item.json.url}`\n  ).join('\\n\\n')\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        160
      ],
      "id": "3064b551-7546-4281-8e7a-fa60150185f2",
      "name": "Single Input"
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.text }}",
        "options": {}
      },
      "id": "e9b12277-ac8d-4827-be4c-a910f9ac6c0d",
      "name": "Convert Markdown to HTML",
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        1552,
        160
      ]
    },
    {
      "parameters": {
        "content": "**Schedule Trigger**  \n\nAutomatically kicks off the workflow on a daily schedule (or manually)",
        "height": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "47fa7297-5308-4064-abfe-448ea8468536",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "**Set (manual)**\n\nPrepares and injects custom variables/settings before the workflow runs",
        "height": 320,
        "width": 208,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        0
      ],
      "typeVersion": 1,
      "id": "1180ffb4-9478-48e4-812f-b1c599f46baa",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "**Fetch AI News**\n\nCalls NewsAPI and grabs the latest AI-related articles",
        "height": 320,
        "width": 208
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        0
      ],
      "typeVersion": 1,
      "id": "489590fe-95a0-4c62-a03c-5b7405878972",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "**Split Articles**\n\nTakes the array of articles and turns each one into its own item",
        "height": 320,
        "width": 208,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        704,
        0
      ],
      "typeVersion": 1,
      "id": "b2306a03-191f-41a1-985e-43ab26fe73d2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "**Single Input**\n\nLimits processing to one article at a time (or selects a specific one)",
        "height": 320,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        0
      ],
      "typeVersion": 1,
      "id": "55aabcbb-a11f-46da-8d9d-dc2301b35852",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "**Summarize with LLM**\n\nFeeds the article to Google Gemini and returns a clean summary",
        "height": 320,
        "width": 336,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        16
      ],
      "typeVersion": 1,
      "id": "5d4bd473-9df4-4844-8812-3ac6e902ac08",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "**Convert Markdown → HTML**\n\nTurns the Gemini summary (Markdown) into proper rich HTML",
        "height": 336,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1472,
        0
      ],
      "typeVersion": 1,
      "id": "c15680b1-fde7-419a-923d-6332109ff8cd",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "**Send Gmail**\n\nSends the final formatted summary straight to your inbox",
        "height": 320,
        "width": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        0
      ],
      "typeVersion": 1,
      "id": "5f1e4951-8b4f-4832-9316-2c658604ada7",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert AI newsletter writer. Here are the 10 most recent articles about AI from the last 24 hours:\n\n{{$json.chatInput}}\n\nWrite a concise, engaging daily briefing (max 150 words) with:\n1. A catchy headline\n2. 4–6 bullet points of the most important developments\n3. One short \"One surprising thing\" section\n4. Tone: professional but fun\n\nOnly output clean markdown, no extra commentary"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1200,
        160
      ],
      "id": "d52b8bad-8b1d-459b-b995-7332c8bdee11",
      "name": "Summarize with LLM"
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n**Large Language Model**\n\nProvides the AI language model (Google Gemini) that powers the summarization",
        "height": 288,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1168,
        336
      ],
      "typeVersion": 1,
      "id": "f51a36ed-d281-481d-81c5-491addc38680",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Oli37hPbE1HhQyEnK7kBScAZS_iPYWjnCQc7pCzbxLY",
          "mode": "list",
          "cachedResultName": "Daily AI Briefings Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Oli37hPbE1HhQyEnK7kBScAZS_iPYWjnCQc7pCzbxLY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Oli37hPbE1HhQyEnK7kBScAZS_iPYWjnCQc7pCzbxLY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ \n  (() => {\n    const date = new Date($today);\n    const day = date.getDate();\n    const month = date.toLocaleString('en-US', { month: 'long' });\n    // Get ordinal suffix\n    const getOrdinal = n => {\n      const s=[\"th\",\"st\",\"nd\",\"rd\"], v=n%100;\n      return n+(s[(v-20)%10]||s[v]||s[0]);\n    };\n    return `${getOrdinal(day)} ${month}`;\n  })()\n}}",
            "text": "={{ $('Convert Markdown to HTML').item.json.text }}",
            "subject": "=📰 Your Daily AI Briefing – {{$today}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2064,
        160
      ],
      "id": "3dd5c012-dd13-4676-88de-133b70f822ea",
      "name": "Log News",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "H02oejS8CCpME5R4",
          "name": "Sheets dhyan.work-n8n"
        }
      }
    },
    {
      "parameters": {
        "content": "**Google Sheets Node**\n\nLogs the news entries into a Google Sheet as a record.",
        "height": 320,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1984,
        0
      ],
      "typeVersion": 1,
      "id": "acf7a0ec-c06d-4e65-8d36-eeeeae27faa9",
      "name": "Sticky Note10"
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-12-17T07:00:16.007+05:30",
          "Readable date": "December 17th 2025, 7:00:16 am",
          "Readable time": "7:00:16 am",
          "Day of week": "Wednesday",
          "Year": "2025",
          "Month": "December",
          "Day of month": "17",
          "Hour": "07",
          "Minute": "00",
          "Second": "16",
          "Timezone": "Asia/Kolkata (UTC+05:30)"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Fetch AI News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch AI News": {
      "main": [
        [
          {
            "node": "Split Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize with LLM",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Articles": {
      "main": [
        [
          {
            "node": "Single Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Single Input": {
      "main": [
        [
          {
            "node": "Summarize with LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Markdown to HTML": {
      "main": [
        [
          {
            "node": "Send Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize with LLM": {
      "main": [
        [
          {
            "node": "Convert Markdown to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Gmail": {
      "main": [
        [
          {
            "node": "Log News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "f615ea64-c091-43e3-a9da-2d21d6171edb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5ce0487ff22495b0ec8ec7fcd455cb1e7a71ee741d4c100ace6f1c74d140697"
  },
  "id": "bCs4wUnwyuIyvkFV",
  "tags": [
    {
      "updatedAt": "2025-12-14T07:45:53.788Z",
      "createdAt": "2025-12-14T07:45:53.788Z",
      "id": "oBMEGD9OEmbOb6na",
      "name": "Intermediate"
    }
  ]
}